body{
    background-image: linear-gradient(to bottom, darkslategray, rgb(29, 48, 48));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    font-family: sans-serif;
}

form{
    background-color: lightcyan;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
}

form div{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

form #idNome, #sobrenome{
    width: 100%;
    height: 25px;
}

form #botao{
    display: block;
    margin: auto;
    padding: 5px;
}