* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgb(79, 131, 131), darkslategray);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    width: 70%;
    max-width: 600px;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 2px 9px black;
}

form .titulo {
    font-size: 20px;
    margin-bottom: 10px;
}

form #nome {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#nome input {
    width: 70%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

form #conta {
    margin: 50px;
    display: flex;
    gap: 10px;
    font-size: 20px;
}

#conta input {
    display: flex;
    accent-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

form #botao {
    margin: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#botao input {
    padding: 25px;
    width: 30%;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

button {
    padding: 25px;
    width: 30%;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

#tela-info {
    background-color: white;
    width: 70%;
    max-width: 600px;
    height: 70%;
    border-radius: 20px;
    margin-left: 10px;
    text-align: center;
}

#tela-info #titulo-info {
    text-align: center;
    margin: 10px;
}

#segunda {
    width: 70%;
    max-width: 600px;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 2px 9px black;
    display: none;
}

#segunda #saq-dep {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    text-align: center;
}

#saq-dep input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}

#segunda #btn {
    margin-top: 40px;
    width: 100%;
}

#btn input {
    display: block;
    margin: auto;
    padding: 25px;
    width: 50%;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;
    cursor: pointer;
}